{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<div class="container-fluid bg-white">
  <div class="row justify-content-center pt-5">
    <h1>Create dialog proposal</h1>
    <h1>Create dialog proposal</h1>
    <h1>Create dialog proposal</h1>
    <h1>Create dialog proposal</h1>
    {% include 'themes/custom/hoeringsportal/templates/animated-svg/icon-deltag-comment.svg.html.twig' %}
    {% include 'themes/custom/hoeringsportal/templates/animated-svg/icon-deltag-reply.svg.html.twig' %}
    {% include 'themes/custom/hoeringsportal/templates/animated-svg/icon-deltag-thumbs-up.svg.html.twig' %}

    <form{{ attributes.addClass('proposal-layout') }}>
      <h1>{{ 'Create dialog proposal'|t }}</h1>
      <p>
        {{ 'Fill out the form and send your proposal so other people cant interact with it.'|t }}
      </p>
      <div class="image-drag">
        {{ children }}
      </div>
    </form>
  </div>
</div>
