include:
  - docker-compose.oidc.yml
  - docker-compose.playwright.yml
  - docker-compose.pretix.yml

services:
  phpfpm:
    image: itkdev/php8.4-fpm:latest
    environment:
      - PHP_MAX_EXECUTION_TIME=30
      - PHP_POST_MAX_SIZE=90M
      - PHP_UPLOAD_MAX_FILESIZE=80M
      - PHP_MEMORY_LIMIT=512M

  nginx:
    labels:
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    # Let the container be accessible both internally and externally on the same domain.
    container_name: ${COMPOSE_DOMAIN}
    environment:
      # Match PHP_UPLOAD_MAX_FILESIZE (plus a little more)
      NGINX_MAX_BODY_SIZE: 90M

  node:
    image: node:22
    profiles:
      - dev
    working_dir: /app
    volumes:
      - .:/app:delegated

  clamav:
    image: clamav/clamav:1.4
    profiles:
      - clamav
    networks:
      - app
    ports:
      - "3310"
      - "7357"
