services:
  # https://github.com/geigerzaehler/oidc-provider-mock
  idp-citizen:
    image: ghcr.io/geigerzaehler/oidc-provider-mock:latest
    profiles:
      - oidc
      - test
    # Let this container be accessible both internally and externally on the same domain.
    container_name: idp-citizen.${COMPOSE_DOMAIN}
    networks:
      - app
      - frontend
    ports:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-idp.rule=Host(`idp-citizen.${COMPOSE_DOMAIN}`)"
    command:
      [
        "--port",
        "80",
        "--user-claims",
        '{"sub": "user", "email": "user@example.com", "roles": ["authenticated"]}',
        "--user-claims",
        '{"sub": "page_editor", "email": "page_editor@example.com", "roles": ["page_editor"]}',
        "--user-claims",
        '{"sub": "public_meeting_editor", "email": "public_meeting_editor@example.com", "roles": ["public_meeting_editor"]}',
        "--user-claims",
        '{"sub": "dialogue_editor", "email": "dialogue_editor@example.com", "roles": ["dialogue_editor"]}',
        "--user-claims",
        '{"sub": "project_editor", "email": "project_editor@example.com", "roles": ["project_editor"]}',
        "--user-claims",
        '{"sub": "hearing_editor", "email": "hearing_editor@example.com", "roles": ["hearing_editor"]}',
        "--user-claims",
        '{"sub": "citizen_proposal_editor", "email": "citizen_proposal_editor@example.com", "roles": ["citizen_proposal_editor"]}',
        "--user-claims",
        '{"sub": "administrator", "email": "administrator@example.com", "roles": ["administrator"]}',
      ]

  # https://github.com/Soluto/oidc-server-mock
  idp-employee:
    image: ghcr.io/geigerzaehler/oidc-provider-mock:latest
    profiles:
      - oidc
      - test
    # Let this container be accessible both internally and externally on the same domain.
    container_name: idp-employee.${COMPOSE_DOMAIN}
    networks:
      - app
      - frontend
    ports:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_idp-employee.rule=Host(`idp-employee.${COMPOSE_DOMAIN}`)"
    command:
      [
        "--port",
        "80",
        "--user-claims",
        '{"sub": "user", "email": "user@example.com", "roles": ["authenticated"]}',
        "--user-claims",
        '{"sub": "page_editor", "email": "page_editor@example.com", "roles": ["page_editor"]}',
        "--user-claims",
        '{"sub": "public_meeting_editor", "email": "public_meeting_editor@example.com", "roles": ["public_meeting_editor"]}',
        "--user-claims",
        '{"sub": "dialogue_editor", "email": "dialogue_editor@example.com", "roles": ["dialogue_editor"]}',
        "--user-claims",
        '{"sub": "project_editor", "email": "project_editor@example.com", "roles": ["project_editor"]}',
        "--user-claims",
        '{"sub": "hearing_editor", "email": "hearing_editor@example.com", "roles": ["hearing_editor"]}',
        "--user-claims",
        '{"sub": "citizen_proposal_editor", "email": "citizen_proposal_editor@example.com", "roles": ["citizen_proposal_editor"]}',
        "--user-claims",
        '{"sub": "administrator", "email": "administrator@example.com", "roles": ["administrator"]}',
      ]

  idp_mock_api:
    image: dotronglong/faker:stable
    profiles:
      - oidc
    networks:
      - app
      - frontend
    volumes:
      - ./mocks:/app/mocks
    ports:
      - "3030"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_idp_mock_api.rule=Host(`idp_mock_api.${COMPOSE_DOMAIN}`)"
