services:
  oidc-idp:
    profiles:
      - ${DOCKER_OIDC_DISABLE:-}
    # Let this container be accessible both internally and externally on the same domain.
    container_name: idp.${COMPOSE_DOMAIN}
    image: ghcr.io/geigerzaehler/oidc-provider-mock:latest
    # https://docs.docker.com/reference/compose-file/services/#command
    command:
      [
        "--port",
        "80",
        "--user-claims",
        '{"sub": "user", "email": "user@example.com", "roles": ["authenticated"]}',
        "--user-claims",
        '{"sub": "page_editor", "email": "page_editor@example.com", "roles": ["page_editor"]}',
        "--user-claims",
        '{"sub": "public_meeting_editor", "email": "public_meeting_editor@example.com", "roles": ["public_meeting_editor"]}',
        "--user-claims",
        '{"sub": "dialogue_editor", "email": "dialogue_editor@example.com", "roles": ["dialogue_editor"]}',
        "--user-claims",
        '{"sub": "project_editor", "email": "project_editor@example.com", "roles": ["project_editor"]}',
        "--user-claims",
        '{"sub": "hearing_editor", "email": "hearing_editor@example.com", "roles": ["hearing_editor"]}',
        "--user-claims",
        '{"sub": "citizen_proposal_editor", "email": "citizen_proposal_editor@example.com", "roles": ["citizen_proposal_editor"]}',
        "--user-claims",
        '{"sub": "administrator", "email": "administrator@example.com", "roles": ["administrator"]}',
      ]
    ports:
      - "80"
    networks:
      - app
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-idp.rule=Host(`idp.${COMPOSE_DOMAIN}`)"
