<div class="btn-toggle">
  <input class="btn-check" type="checkbox" id="{{ label['#id'] }}" autocomplete="off">
  <label class="btn toggle-badge" for="{{ label['#id'] }}">{{ label['#title'] }}</label>
</div>
