.aside-contact-info-text {
  background-color: var(--primitive-petroleum-100);
  padding: $spacer;
  border-bottom: 3px solid $color-petroleum-200;

  p {
    margin: 0;
  }

  @include media-breakpoint-up(md) {
    padding: $spacer * 2.5 0 $spacer * 2.5 $spacer * 2.5;
  }
}

.aside-link-box {
  padding: $spacer;
  text-decoration: none;
  font-size: clamp(1.25rem, calc(1.25vw + $font-size-base), 1.6rem);
  font-weight: $font-weight-bold;

  @include media-breakpoint-up(md) {
    padding: $spacer * 2.5 0 $spacer * 2.5 $spacer * 2.5;
  }

  &.mint {
    background-color: var(--primitive-petroleum-100);
    color: var(--interactive-primary);
  }

  &.peach {
    background-color: var(--primitive-peach-100);
    color: var(--primitive-peach-600);
  }

  &.stone {
    background-color: var(--primitive-stone-100);
    color: var(--primitive-stone-600);
  }
}
