@keyframes fade {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: initial;
  }
}

@keyframes rotate {
  to {
    transform: rotate(-5deg);
  }
}

@keyframes pop {
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotatePop {
  50% {
    transform: rotate(10deg) translateX(-1px);
  }
  75% {
    transform: scale(1.2) rotate(-10deg) translateX(-2px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stretchX {
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes stretchY {
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
