.btn {
  padding: $spacer * 0.75 $spacer * 1.5;

  &-primary {
    position: relative;
    border: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--interactive-primary-hover);
    }
  }

  &-transparent {
    position: relative;
    border: 0;

    background-color: transparent;
    color: var(--interactive-primary-hover);
    border: 2px solid var(--interactive-primary-hover);

    &:hover {
      color: var(--interactive-primary-active);
      border: 2px solid var(--interactive-primary-active);
    }
  }
}

.btn-sm {
  @extend .btn-sm;

  padding: $spacer * 0.5 $spacer * 0.75;

  &.btn-primary {
    position: relative;
    border: 0;
    color: var(--text-inverse);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: transparent;
    }
  }
}

.btn-toggle {
  background: var(--interactive-primary-hover);
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;

  &:has(input.btn-check:checked) {
    background: var(--interactive-primary-active);
  }

  input.btn-check {
    &:checked + .toggle-badge {
      color: var(--text-inverse);
      background-color: var(--interactive-primary-hover);
      border: 1px solid var(--interactive-primary-hover);
      transform: translateY(-2px);

      &:hover {
        background-color: var(--interactive-primary-hover);
      }
    }
  }

  label.toggle-badge {
    display: block;
    background: var(--bg-primary);
    border-radius: 4px;
    font-weight: 400;
    font-size: $font-size-small;
    border: 1px solid var(--interactive-primary-hover);
    color: var(--interactive-primary-hover);
    padding: 8px 12px;
    margin-bottom: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition:
        transform 300ms cubic-bezier(0.3, 0.7, 0.4, 1),
        background-color 0.1s ease-in;
    }
  }

  &:hover label.toggle-badge {
    color: var(--interactive-primary-hover);
    background-color: var(--bg-accent-subtle);
    border: 1px solid var(--interactive-primary-hover);

    @media (prefers-reduced-motion: no-preference) {
      transform: translateY(-2px);
      transition:
        transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5),
        background-color 0.2s ease-out;
    }
  }

  &:active label.toggle-badge {
    @media (prefers-reduced-motion: no-preference) {
      transform: translateY(-2px);
      transition:
        transform 34ms,
        background-color 0.2s ease-out;
    }
  }
}
