.card {
  --transition-duration-in: 200ms;
  --transition-duration-out: 400ms;
  --transition-easing-in: ease-in;
  --transition-easing-out: ease-out;

  .text-public-meeting {
    color: $pink;
  }

  .text-project,
  .text-static-page {
    color: $blue;
  }

  .text-hearing,
  .text-citizen-proposal,
  .text-decision,
  .text-dialogue {
    color: $petroleum;
  }

  border: 1px solid $gray-300;

  text-decoration: none;
  height: 100%;
  transition: box-shadow var(--transition-duration-in)
    var(--transition-easing-in);

  .card-header img {
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    transform-origin: center;
    transition: transform var(--transition-duration-in)
      var(--transition-easing-in);
  }

  .card-body {
    text-decoration: none;
  }

  .fa-arrow-right {
    font-size: 1rem;
    transition: transform var(--transition-duration-in)
      var(--transition-easing-in);
  }

  &:hover {
    color: initial;
    .fa-arrow-right {
      transition: transform var(--transition-duration-out)
        var(--transition-easing-out);
      transform: translateX(10px);
    }
    @extend .shadow;
    transition: box-shadow var(--transition-duration-out)
      var(--transition-easing-out);
    text-decoration: none;

    .card-header img {
      transform: scale(1.07);
      transition: transform var(--transition-duration-out)
        var(--transition-easing-out);
    }
  }
}

.tags-one-line {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
