.content {
  background: var(--bg-primary);
  padding-top: $spacer;
  padding-bottom: $spacer;

  &.group-left::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 200%;
    background: var(--bg-primary);
  }
}

.content__main {
  @include media-breakpoint-up(sm) {
    padding-right: 2em;
  }

  img {
    @extend .img-fluid;
  }
}

.timestamp {
  display: block;
}

.lead {
  padding: 1em 0;
}

// Some headers in group right content should be smaller than usual
.group-right {
  h3 {
    border-top: 1px solid var(--border-default);
    padding-top: 1.5rem;
    margin-top: 0.5rem;

    &:first-child {
      border: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }

  h4,
  h5,
  h6 {
    font-size: 0.8rem;
    text-transform: none;
    margin-bottom: 0;
  }
}

.content__header {
  background: var(--bg-accent);
  color: var(--text-inverse);
}

.content__dates-container {
  background: $pink-light;

  .border-pink {
    border: 1px solid $pink;
  }

  .btn-pink,
  .bg-pink {
    background-color: $pink;
  }

  .color-pink {
    color: $pink;
  }
}

.read-more {
  font-size: $h3-font-size;
  text-decoration: underline;
}

.video-embed {
  padding: 56.25% 0 0;
  position: relative;

  > div {
    padding: 0 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content-hearign-ticket-title-label {
  font-size: 0.8rem;
  font-weight: bold;
}

.ticket-file {
  color: var(--text-primary);
  text-decoration: none !important;
  padding: 1em;
  box-sizing: border-box;
  background: var(--bg-tertiary);
  display: block;
}

.group-footer {
  background: var(--bg-secondary);
  padding-bottom: $spacer;

  & > {
    div:nth-child(odd) {
      background: var(--bg-tertiary);
    }

    div:nth-child(even) {
      background: var(--bg-secondary);
    }
  }
}

.content img {
  max-width: 100%;
}

.is-comma-separated {
  span::after {
    content: ",";
  }

  span:last-child::after {
    content: "";
  }
}

.support-counter {
  .count {
    font-weight: bold;
  }

  .page--landing_page & {
    padding-bottom: 0.25rem;
  }

  .page--citizen_proposal & {
    font-size: 1.2em;
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
  }
}
