.proposal-layout {
  max-width: 840px!important;
}

.breadcrumb {
  color: $color-petroleum-800;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.flag a {
  color: inherit;
  text-decoration: none;
}

.node-dialogue-proposal-form {
  label {
    font-weight: 700;
    margin-bottom: .5rem;
  }

  .image-widget {
    @extend .d-flex;
    @extend .flex-wrap;

    img {
      margin-right: 4rem;
    }

    .form-item {
      @extend .flex-grow-1;
      flex-basis: 50%;
    }

    .file--image {
      display: none;
    }

    .js-form-submit {
      flex-basis: 100%;
    }

    .drop-message {
      padding: 1rem;
    }

    .button {
      @extend .btn;
      @extend .btn-primary;

      padding: .25rem .5rem;
      font-size: .875rem;
      border-radius: .2rem;
      position: inherit;

      &:after {
        display: none;
      }
    }
  }
}
