article.media-document {
  background-color: $color-petroleum-100;
  padding: $spacer;
  margin-bottom: calc($spacer * 0.25);
  display: flex;
}

article.media-document svg {
  order: 1;
}

article.media-document span {
  font-weight: $font-weight-base;
  order: 2;
}
