.form-control-lg {
  font-size: 100%;
}

form {
  .form-required::after {
    content: " *";
    color: var(--status-danger);
  }

  .filter-wrapper {
    display: none;
  }
}

#user-login-form {
  fieldset {
    padding: 1em 0;

    + fieldset {
      border-top: solid 1px var(--interactive-secondary);
    }

    legend {
      display: none;
    }
  }
}
