.header-v2 {
  .image-wrapper {
    max-height: 50vh;
    overflow: hidden;
  }

  .image-wrapper-half {
    max-height: 25vh;
    overflow: hidden;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .header-wrapper {
    margin-top: -$spacer * 15;
  }

  .content-wrapper {
    background-color: $color-petroleum-100;
    border-bottom: 5px solid $color-petroleum-200;
  }
}


.header-v2,
.header-v2-no-image {
  .header-notification {
    @include media-breakpoint-up(md) {
      margin-left: calc($spacer + 2vw);
      margin-right: calc($spacer + 2vw);
    }

    @include media-breakpoint-up(xxl) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1400px;
    }
  }

  .content-wrapper {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;

    .text-background-match {
      color: $petroleum;
    }

    @include media-breakpoint-up(md) {
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 5;
      margin-left: calc($spacer + 2vw);
      margin-right: calc($spacer + 2vw);
    }

    @include media-breakpoint-up(xxl) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
    }

    .type {
      color: $petroleum;
    }

    .tags {
      color: $color-petroleum-600;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 1.5rem;
      white-space: nowrap;
      background: none;
      border: none;
      font: inherit;
      font-size: 1rem;
      cursor: pointer;
      outline: inherit;
      text-align: left;
      max-width: 50%;

      &:focus {
        overflow: auto;
        text-overflow: ellipsis;
        height: auto;
        white-space: wrap;
      }
    }
  }

  .type-project {
    background-color: $color-peach-100;
    border-bottom: 5px solid $color-peach-200;

    .text-background-match {
      color: $color-peach-600;
    }
  }

  h1 {
    font-size: clamp(1.5rem, calc(2vw + $font-size-base), 2.5rem);
  }

  p {
    font-size: clamp(1rem, calc(0.75vw + $font-size-base), 1.25rem);
  }

  .areas {
    display: flex;
    column-gap: $spacer * 1.5;
    span {
      color: $color-peach-600;
    }
  }
}

.text-capitalize-first-word:first-letter {
  text-transform: capitalize;
}
