$hero-breakpoint: "sm";

.hero {
  color: var(--text-inverse);
  background: var(--bg-accent);

  .bg-light {
    color: var(--text-primary);
    background: var(--bg-secondary);
  }

  a,
  .link,
  .link::before {
    color: var(--text-inverse);

    span {
      color: var(--text-inverse);
    }
  }

  a:hover {
    color: var(--text-inverse);
  }

  .underlined {
    &::after {
      background: var(--text-inverse);
    }
  }

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up($hero-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}

.hero__media-container {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: $spacer;
  max-width: 65ch;
  font-size: $font-size-lg;
  word-break: break-word;

  @include media-breakpoint-up($hero-breakpoint) {
    min-height: 350px;
    padding: $spacer * 2;
  }

  h1 {
    margin-top: 0;
  }
}
