.image-fade {
  height: 80vh;
  overflow: hidden;
}

.image-slide {
  border: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 3s linear;
  -moz-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 3s linear;
  height: 100% !important;
}

.show {
  opacity: 1;
}
