.info-box {
  &.danger {
    --bg-color: var(--status-danger-subtle);
    --secondary-bg-color: var(--primitive-red-200);
    --text-color: var(--text-primary);
    --link-color: var(--status-danger);
  }
  &.warning {
    --bg-color: var(--status-warning-subtle);
    --secondary-bg-color: var(--primitive-yellow-200);
    --text-color: var(--text-primary);
    --link-color: var(--primitive-yellow-500);
  }
  &.info {
    --bg-color: var(--status-info-subtle);
    --secondary-bg-color: var(--primitive-blue-200);
    --text-color: var(--text-primary);
    --link-color: var(--status-info);
  }
  &.petroleum-light {
    --bg-color: var(--bg-accent-subtle);
    --secondary-bg-color: var(--bg-accent-light);
    --text-color: var(--text-primary);
    --link-color: inherit;
  }
  &.petroleum {
    --bg-color: var(--bg-accent);
    --secondary-bg-color: var(--bg-accent);
    --text-color: var(--text-inverse);
    --link-color: inherit;
  }

  --bg-color: var(--bg-accent-subtle);
  --secondary-bg-color: var(--bg-accent-light);
  --text-color: var(--text-primary);

  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: $spacer;
  margin-bottom: $spacer;

  a {
    color: var(--link-color);
  }
}

.info-box-header h2 {
  margin: 0;
}

.info-box-header {
  padding: $spacer;
  background-color: var(--secondary-bg-color);
}

.info-box-content {
  padding: $spacer;
}
