.list-filter-link-wrapper {
  background: var(--bg-primary);
  border: 1px solid var(--primitive-gray-400);
  color: var(--text-secondary);
  display: grid;
  place-content: center;
  padding: 1rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    border: 1px solid var(--interactive-primary);
    color: var(--interactive-primary);
  }

  &.bef-link-active {
    border: 1px solid var(--interactive-primary);
    color: var(--interactive-primary);
  }
}

.list--header {
  height: 2em;
  margin-top: 2em;
}

.list--filter-wrapper {
  position: relative;
}

.list--empty-text {
  border: 2px dashed var(--primitive-gray-500);
  padding: 5em 0;
  margin: 2em 0;
}
