.page-teaser {
  margin-bottom: $spacer * 2;
}

.page-teaser-link {
  font-size: 0.8rem;
  position: absolute;
  bottom: $spacer;
  right: $spacer * 2.5;
  transition: transform 200ms ease-in;
}

.page-teaser-anchorblock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    text-decoration: none;

    .page-teaser-link {
      transition: transform 400ms ease-out;
      transform: translateX(10px);
    }
  }

  &.bg-gray-900 {
    background-color: var(--primitive-gray-900);
    border-bottom: 2px solid var(--primitive-gray-950);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: var(--primitive-gray-950);
      transition: background-color 400ms ease-out;
    }
  }

  &.bg-petroleum-light {
    background-color: var(--bg-accent-light);
    border-bottom: 2px solid var(--primitive-petroleum-400);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: var(--primitive-petroleum-400);
      transition: background-color 400ms ease-out;
    }
  }

  &.bg-petroleum {
    background-color: var(--bg-accent);
    border-bottom: 2px solid var(--interactive-primary-hover);
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: var(--interactive-primary-hover);
      transition: background-color 400ms ease-out;
    }
  }
}

.page-teaser-content {
  color: var(--text-inverse);
  padding: $spacer * 2;

  &:hover {
    color: var(--text-inverse);
  }
}

.page-teaser-title {
  font-family: $font-family-black;

  &.underlined {
    &::after {
      background: var(--text-inverse);
      height: 2px;
    }
  }
}
