.paragraph-link {
  .paragraph-link-icon {
    svg {
      text-align: center;
      width: 1.25em;
      fill: currentColor;
    }
  }

  &.btn-light {
    .paragraph-link-icon {
      color: var(--interactive-primary);
    }
  }

  &::after {
    display: none;
  }
}
