.proposal-add-form {
  label {
    @extend .h5;
  }

  .js-form-type-checkbox label {
    margin-bottom: 0;
  }

  .form-item--error-message {
    color: var(--status-danger);

    @extend .small;
  }
}

.authenticate-wrapper {
  border-top: 1px solid var(--primitive-gray-700);
  border-bottom: 1px solid var(--primitive-gray-700);
}

.btn-sign-out {
  font-size: 0.9em;
  padding: 0.4rem;
}

.support-progress {
  .progress {
    height: 0.25em;
  }
}

.citizen-proposal-teaser {
  border-bottom: 2px solid var(--border-default);

  &:hover {
    border-bottom: 2px solid var(--interactive-primary);
    transition: border-bottom 400ms ease-out;
  }
}

// Move maxlength counter below input box.
.form-item-title,
.form-item-proposal-value,
.form-item-remarks-value {
  display: flex;
  flex-direction: column;

  .counter {
    order: 1;
    text-align: right;
    color: var(--text-muted);
  }
}
