.promoted-content {
  background-color: $color-petroleum-100;
  font-size: 0.9rem;

  .h2 {
    font-size: 1.4rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.proposal-count {
  font-size: 3rem;
}
