.splash {
  background-color: var(--bg-primary);
  padding: $spacer * 0.5 $spacer * 0.5 $spacer * 0.5 $spacer * 0.5;
  text-align: center;
}

.splash-label {
  color: var(--text-secondary);
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.splash-date {
  padding: 0.75rem;
}

.splash-date-day {
  font-family: $font-family-black;
  font-weight: $font-weight-black;
  font-size: 1.8rem;
  line-height: 1;
  color: var(--interactive-primary);

  &.text-orange {
    color: var(--primitive-orange-500);
  }
}

.splash-date-month {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: var(--text-primary);
}

.splash-comments {
  border-top: 1px solid var(--primitive-gray-400);
  color: var(--text-secondary);
}

.splash-comments-count {
  font-size: 0.8rem;
  line-height: 1;

  svg {
    margin-right: $spacer * 0.25;
  }
}
