.project-timeline-period {
  label {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.project-timeline {
  div {
    cursor: grab !important;

    &.vis-item.vis-box,
    &.vis-item.vis-range {
      border: 0;
      border-radius: 1rem;
      background-color: var(--interactive-primary);

      &.system,
      &.meeting {
        background: var(--text-primary);
      }

      &.debate {
        background: var(--bg-accent-light);
      }

      .vis-item-content {
        color: var(--text-inverse);
        cursor: pointer !important;
        font-size: 0.7rem;
        padding: 0;
        line-height: 1em;

        > div {
          cursor: pointer !important;
          padding: 4px 10px;

          > div {
            cursor: pointer !important;
          }
        }
      }
    }

    &.vis-item.vis-range {
      border-radius: 0.3rem;
    }

    &.vis-item.vis-line,
    &.vis-item.vis-dot {
      border-color: var(--interactive-primary);
      background-color: var(--interactive-primary);

      &.system,
      &.meeting {
        border-color: var(--text-primary);
        background: var(--text-primary);
      }

      &.debate {
        background: var(--bg-accent-light);
      }
    }
  }

  .vis-timeline {
    border: 0;
  }

  .vis-grid.vis-vertical {
    border-right: 0;
    border-left: 1px solid var(--primitive-gray-400);
  }

  .vis-bottom {
    .vis-minor {
      display: none;
      visibility: hidden;
    }
  }

  .vis-current-time {
    background-color: var(--primitive-orange-500);

    label {
      position: absolute;
      bottom: 0;
      padding: 0 7px 3px;
      color: var(--primitive-orange-500);
      margin: 0;
    }
  }
}

.popover-label {
  font-weight: bold;
}

.popover-date {
  font-size: 1rem;
}

.project-type-label-wrapper {
  text-align: center;
  margin: 0 auto;
}

.project-type-label {
  color: var(--interactive-primary);
  display: inline-block;
  margin: 0 1rem;
  text-align: center;

  &.meeting {
    color: var(--text-primary);
  }

  &.debate {
    color: var(--bg-accent-light);
  }
}
