body {
  background: var(--bg-secondary);
  word-wrap: break-word;
  letter-spacing: 0.05em;
  padding-top: 96px;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
legend {
  font-family: $headings-font-family;
  margin-bottom: $headings-margin-bottom;
  margin-top: $headings-margin-top;
}

p {
  max-width: 45rem;
}

a {
  transition:
    color 0.2s ease-in,
    border-bottom 0.2s ease-in;

  &:hover {
    color: var(--interactive-primary-hover);
    transition:
      color 0.4s ease-out,
      border-bottom 0.3s ease-out;
  }
}

.skip-to-main-content {
  background-color: var(--bg-primary);
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.ui-dialog-titlebar {
  background-color: var(--bg-primary);
  border: 0;
}

.ui-button-icon {
  background-color: var(--bg-primary);
}

input {
  font-size: 1rem;
}
