{{ attach_library('hoeringsportal/map-display') }}

{% if items|length > 0 %}
  {% set map_data = element['#items'].0.data %}
  {% if map_data and map_data != 'null' %}
    <div class="my-5">
      <h2 class="mb-4">{{ 'Map'|t }}</h2>
      <div id="hoeringsportal-map" data-geojson="{{ map_data }}" style="height: 600px;"></div>
    </div>
  {% endif %}
{% endif %}
