{{ attach_library('hoeringsportal/map-display') }}

{% if not label_hidden %}
  <h5 class="mt-3">{{ label }}</h5>
{% endif %}

<div class="my-5">
  {% for item in element['#items']|slice(0, 1) %}
    <div id="map" data-geojson="{{ item.data }}" style="height: 600px;"></div>
  {% endfor %}
</div>
