{% extends "@hoeringsportal/node/_node--1-col-large-image-top.html.twig" %}

{% block content_top %}
  {# Header #}
  {{ include(directory ~ '/templates/components/header-default.html.twig', {
    images: {0: node.field_media_image_single.entity.field_itk_media_image_upload.entity},
    category: content.field_header_label,
    title: node.label,
    description: content.field_teaser,
    tags_fields: {},
    image_half: true,
    shortcuts: {}}
  ) }}
{% endblock %}

{% block content_main %}
  {# Main container #}
  <div class="sections d-flex flex-column">
    {{ content|without('field_media_image_single', 'field_header_label', 'field_show_page_title', 'field_teaser', 'published_at') }}
  </div>
{% endblock %}
