.create-activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.card {
  max-width: 450px;
  text-align: center;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.card-inner {
  hyphens: none;
  padding: 2rem;
}

.card-image img {
  max-width: 50%;
}
